@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--dark-blue-100: #609ED4;
	--dark-blue-200: #356EA9;
	--dark-blue-300: #0A3871;
	--dark-blue-400: #072B61;
	--dark-blue-500: #052051;
	--light-blue-100: #F3F5FC;
	--light-blue-200: #EFF1FA;
	--light-blue-300: #E9ECF8;
	--light-blue-400: #AAB2D5;
	--light-blue-500: #757FB2;
	--gray-100: #CED4DA;
	--gray-200: #ADB5BD;
	--gray-300: #868E96;
	--gray-400: #495057;
	--gray-500: #343A40;
	--white: #FFFFFF;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: var(--light-blue-100);
	color: var(--gray-400);
	display: flex;
	justify-content: center;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-style: normal;
}


#corset {
	width: 1440px;
	padding: 40px;
	box-sizing: border-box;	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

header {
	width: 120px;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

main {
	width: 680px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;	
}

aside {
	background-color: var(--white);
	width: 400px;
	height: 100%;
	padding: 32px;
	box-sizing: border-box;	
	border-radius: 32px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;	

}

footer {
	color: var(--dark-blue-500);
	width: 100%;
	padding: 16px;
	box-sizing: border-box;	
	font-weight: 300;
	font-size: 11px;
	text-align: center;
}


.formulario textarea {
	background-color: transparent;
	color: var(--dark-blue-300);
	width: 100%;
	border-width: 2px;
	font-weight: 400;
	font-size: 32px;
	line-height: 48px;
	resize: none;
	outline: none;
	overflow: auto;
}

.formulario textarea::placeholder {
	color: #797b7c;
}

input {
	width: 328px;
	height: 50px;
	border-radius: 24px;
	cursor: pointer;
}

.btn-encriptar {
	background-color: var(--dark-blue-300);
	color: var(--white);
	/* margin-right: 19px; */
	border: none;
	font-weight: 400;
	font-size: 19px;
	transition: ease-out 300ms;
}

.btn-encriptar:hover {
	background-color: var(--dark-blue-400);
}

.btn-desencriptar {
	background-color: var(--light-blue-100);
	color: var(--dark-blue-300);
	border: 1px solid var(--dark-blue-300);
	font-weight: 400;
	font-size: 19px;
	transition: ease-out 300ms;
}

.btn-desencriptar:hover {
	background-color: var(--light-blue-300);
}

.btn-copiar {
	background-color: var(--white);
	color: var(--dark-blue-300);
	border: 1px solid var(--dark-blue-300);
	display: none;
	font-weight: 400;
	font-size: 19px;
	transition: ease-out 300ms;
	position: absolute;
	bottom: 32px;
}

.btn-copiar:hover {
	background-color: var(--light-blue-200);
}

.botonera {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	position: absolute;
	bottom: 9px;
}

.advertencia {
	width: 100%;
	font-size: 12px;
	line-height: 150%;
	margin: 8px 0;
}
.advertencia img {
	transform: translateY(3px);
}

#resultado {
	width: 100%;
	height: 100%;
	display: none;
	overflow: hidden;
	font-size: 24px;
	line-height: 150%;
	text-align: left;
}

#resultado::first-letter {
	text-transform: uppercase;
}

aside h2 {
	color: var(--gray-500);
	margin-top: 16px;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	text-align: center;
}

aside p {
	color: var(--gray-400);
	margin-top: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
}

/* * NOTEBOOKS Y TABLETS */
@media screen and (max-width: 1366px) {

	body {
		height: auto;
	}

	#corset {
		width: 100%;
		flex-direction: column;
	}

	header {
		width: 100%;
		height: fit-content;
		margin-bottom: 60px;
		justify-content:flex-start;
	}
	
	main {
		width: 100%;
		height: fit-content;
		margin: 0;
	}
	
	aside {
		width: 100%;
		height: fit-content;
	}

	aside img {
		display: none;
	}

	aside h2 {
		margin-top: 0;
	}

	footer {
		width: 100%;
		height: fit-content;
	}

	input {
		width: 100%;
	}

	.btn-encriptar {
		width: 49%;
	}
	
	.btn-desencriptar {
		width: 49%;
	}

	.btn-copiar {
		position:static;
	}

}



/* * CELULARES */
@media screen and (max-width: 428px) {

	#corset {
		padding: 16px;
	}

	header {
		margin-bottom: 40px;
	}

	footer {
		padding: 16px;
		box-sizing: border-box;	/* * Evita que el padding aumente el tamaño de la caja */
	}

	footer span {
		display: block;
	}

	.btn-encriptar {
		width: 100%;
	}
	
	.btn-desencriptar {
		width: 100%;
		margin-top: 24px;
	}

}



/* * ANIMACION EN TITULO DE LA PIZARRA (ASIDE) */
.blink_me {
	animation: blinker 1s linear 0s 3;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}